.header {
  /* display: flex; */
  /* gap: 40px */
  position: relative;
}

.ad-block__top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 200px;
  height: 140px;
  border: 1px dashed #696969;
  background-color: #fffdf1;
  opacity: 0.5;
}

.ad-block__center {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 89%;
  height: 70px;
  margin-top: 20px;
  border: 1px dashed #696969;
  background-color: #fffdf1;
  opacity: 0.5;
}

.logo {
  display: block;
  position: absolute;
  left: -120px;
  bottom: 5px;
  font-size: 2em;
  transform: scale(1.1, 1.4);
}

.logo::first-letter {
  font-size: 1em;
  color: red;
}

.icon {
  width: 14px;
  height: 14px;
}

.link {
  text-decoration: none;
  color: #696969;
}

.menu {
  display: flex;
  gap: 10px;
}

.menu__item {
  text-decoration: none;
  color: #076ee4;
}

.list-items {
  margin: 0;
  padding: 0;
  list-style: none;
}




/* .widget-news {} */

.widget-news__menu {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.widget-news__menu-item {
  font-weight: 600;
  opacity: 0.5;
}

.widget-news__menu-item:first-child {
  opacity: 1;
}

.widget-news__update-date {
  font-size: 0.7em;
  color: #696969;
}

.list-news {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 10px;
}

.list-news__link {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #696969;
}

.list-news__text {
  font-size: 0.9em;
}

.stock-exchange-quotes {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  padding-left: 20px;
}

.stock-exchange-quotes__text {
  font-size: 0.8em;
  font-weight: 600;
}

.widget-search {
  margin-top: 25px;
  padding-left: 15px;
}

.widget-search__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 15px;
  font-size: 0.9em;
}

.widget-search__wrap {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 7px;
}

.widget-search__input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border: 2px solid #ffd900;
  font-size: 1.1em;
}

.widget-search__input:focus {
  outline: none;
}

.widget-search__send-btn {
  width: 90px;
  height: 40px;
  border: none;
  font-size: 0.85em;
  background-color: #ffd900;
  cursor: pointer;
}

.widget-search__send-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  border: 20px solid transparent;
  border-left: 15px solid #ffd900;
  cursor: pointer;
}

.example-request {
  margin-top: 3px;
  font-size: 0.8em;
}

/* .example-request__title {} */

.example-request__random-request {
  color: #696969;
  cursor: pointer;
}

.footer {
  column-count: 3;
  column-gap: 10px;
  margin-top: 25px;
  padding-left: 15px;
}

.widget-project {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  page-break-inside: avoid;
  break-inside: avoid;
}

.widget-project__title {
  margin: 0;
  padding-bottom: 10px;
  font-size: 0.95em;
  color: #076ee4;
}

.weather {
  display: flex;
  align-items: center;
  gap: 15px;
}

.weather__now {
  display: flex;
  align-items: center;
}

.weather__now-icon {
  width: 28px;
  height: 28px;
  margin-right: 5px;
}

.weather__now-degrees {
  font-size: 1.5em;
}

.weather__today {
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
  color: #696969;
}

.visited {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.8em;
}

.visited__item {
  font-weight: 600;
  color: #000000;
}

.map-of-germany {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.8em;
}

.tv-program {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.8em;
}

.tv-program__time {
  margin-right: 5px;
  color: #000000;
}

.tv-program__item {
  margin-right: 5px;
  color: #000000;
}

.ether {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.8em;
}

.ether__link {
  display: flex;
  align-items: center;
}

.ether-icon {
  width: 13px;
  height: 13px;
  margin-right: 3px;
}

.ether__item {
  margin-right: 5px;
  color: #000000;
}